@mixin snackbar($bg, $z-index, $color, $accent-color) {
  .snackbar {
    display: block;
  }

  .snackbar.hide {
    display: none;
  }

  .snackbar-container {
    background: $bg;
    z-index: $z-index;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    line-height: 20px;
    white-space: nowrap;
    position: fixed;
    font-size: 14px;
    bottom: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .snackbar-container span {
    margin-left: 20px;
  }

  span.snackbar-message {
    margin-left: 0;
    color: $color;
  }

  .snackbar-action a {
    color: lighten($accent-color, 10%);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.1px;
  }

  .snackbar-action {
    display: none;
  }

  .snackbar-action a:hover {
    color: lighten($accent-color, 20%);
  }

  .snackbar-close svg {
    fill: $color;
    vertical-align: middle;
    cursor: pointer;
  }

  .snackbar-close svg:hover .clear {
    fill: darken($color, 20%);
  }

  .snackbar-close svg:hover {
    background: darken($bg, 4%);
  }

}





