@import "space";
@import "link";
@import "palette";
@import "progess";
@import "modal";
@import "snackbar";
@import "animate";

//
//       CONSTANTS
//
$font-size-body: 20px;
$breakpoint-small: 460px;
$progress-bar-duration: 2s;
$z-index-overlay: 200;
$z-index-modal: 400;
$z-index-snackbar: 600;

//
// PROGRESS
//
@include progress-bar(
                $primary-color-light,
                $primary-color-dark,
                $primary-color,
                $progress-bar-duration)

//
// MODAL
//
@include modal($z-index-overlay, $z-index-modal, $body_color, $divider-color,
               $accent-color, 420px, $breakpoint-small);

//
// SNACKBAR
//
@include snackbar($snackbar-color, $z-index-snackbar, $primary-color-text, $accent-color);

//
// ARTICLE-LIST
//
.hide {
  display: none;
}


@media only screen and (max-width: $breakpoint-small) {
  .snackbar-close {
    min-width: 40px;
    margin-right: 20px;
  }
  .snackbar-message {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .snackbar-container {
    width: 100%;
  }
}

@media only screen and (min-width: $breakpoint-small) {
  .snackbar-container {
    border-radius: 3px;
    margin-right: auto;
    margin-left: 20px;
    bottom: 20px;
  }
}



//
//         LAYOUT
//
@supports (display: grid) {
    header {
        grid-area: hd;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: ft;
    }
    .container {
        display: grid;
        grid-gap: 40px;
        grid-template-areas: "hd" "main" "ft";
        grid-template-rows: auto 1fr auto;
        height: 100vh;
    }
}

//
//         BODY
//
body {
    margin: 0;
    background: $body_color;
    font-size: $font-size-body;
}

//
//         HEADER
//
header {
    background: $primary-color;
    color: $primary-color-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 40px;
    color: inherit;
    @include link($primary-color, $primary-color-dark);
    @include ph1-to-ph2($breakpoint-small);
    @include pv1();
}

.header-account-link > a {
    color: inherit;
    @include link($primary-color, $primary-color-dark);
    @include ph1-to-ph2($breakpoint-small);
    @include pv1();
}

.header-account-link.hide {
    display: none;
}

//
//         FOOTER
//
footer {
    background: lighten($primary-color-light, 10%);
    color: $secondary-text-color;
}

.footer-list {
    list-style-type: none;
    min-height: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-list-item > a {
    color: inherit;
    @include pv1();
    @include ph1-to-ph2($breakpoint-small);
    @include link(lighten($primary-color-light, 13%), $primary-color);
}
