@import "space";
@import "link";
@import "palette";
@import "progess";

//
//       CONSTANTS
//
$font-size-body: 20px;
$breakpoint-small: 460px;
$progress-bar-duration: 2s;

//
// PROGRESS
//
@include progress-bar(
                $primary-color-light,
                $primary-color-dark,
                $primary-color,
                $progress-bar-duration)

//
//         LAYOUT
//
@supports (display: grid) {
    header {
        grid-area: hd;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: ft;
    }
    .container {
        display: grid;
        grid-gap: 40px;
        grid-template-areas: "hd" "main" "ft";
        grid-template-rows: auto 1fr auto;
        height: 100vh;
    }
}

//
//         BODY
//
body {
    margin: 0;
    background: $body_color;
    font-size: $font-size-body;
}

//
//         HEADER
//
header {
    background: $primary-color;
    color: $primary-color-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 40px;
    color: inherit;
    @include link($primary-color, $primary-color-dark);
    @include ph1-to-ph2($breakpoint-small);
    @include pv1();
}

.header-account-link > a {
    color: inherit;
    @include link($primary-color, $primary-color-dark);
    @include ph1-to-ph2($breakpoint-small);
    @include pv1();
}

.header-account-link.hide {
    display: none;
}

//
//         FOOTER
//
footer {
    background: lighten($primary-color-light, 10%);
    color: $secondary-text-color;
}

.footer-list {
    list-style-type: none;
    min-height: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-list-item > a {
    color: inherit;
    @include pv1();
    @include ph1-to-ph2($breakpoint-small);
    @include link(lighten($primary-color-light, 13%), $primary-color);
}
